In [42]:
#Code_assign=1
class Employee:
    
    
    def __init__(self):
        self.Code_assign=1
        #self.staff_code = "F12ECE00"+str(Code_assign)
        #print(self.Code_assign)
        #Employee.staff_code_update(self)
        #print(self.Code_assign)
        pass
    def staff_code_update(self):
        self.Code_assign+=1
    def put_rename(self):
        self.name = input("Enter The Name\t:")
        self.staff_code="F12ECE00"+str(self.Code_assign)
        Employee.staff_code_update(self)
        #return (self.name,self.staff_code)
        print(self.Code_assign)
    def get_name(self):
        return (self.name,self.staff_code)
    def get_salary(self):
        self.Bsalary = int(input("Enter Basic Pay in Number"))
        self.HRA = int(input("Enter HRA"))
    def Gross_Calc(self):
        self.gross = self.Bsalary*1.35 + self.HRA
        return self.gross
    def Display(self):
        print("Gross Salary \t:\t",self.gross)

In [43]:
ram2 = Employee()
ram2.put_rename()

Enter The Name	:Prabhu Ram
2

In [44]:
ram2.put_rename()

Enter The Name	:Latha Sundaram
3

In [45]:
ram2.get_name()

('Latha Sundaram', 'F12ECE002')

In [41]:
ram2.Code_assign

3

In [19]:
ram =Employee("Ram_Prabhu")
ram.name
ram.staff_code

'F12ECE001'

In [4]:
ram3 =Employee("Ram_Prabhu")
ram3.name

'Ram_Prabhu'

In [5]:
ram1 =Employee("Ram_Prabhu")
ram1.name

'Ram_Prabhu'

In [6]:
print(ram2.name)
print(ram2.staff_code)

N.Prabhu Ram
F12ECE001

In [7]:
ram.get_rename()

Enter The Name	:Ram_Prabhu
Enter the Staff Code	:2

('Ram_Prabhu', '2')

In [8]:
ram.get_salary()

Enter Basic Pay in Number1000
Enter HRA1000

In [9]:
ram.Gross_Calc()

2350.0

In [10]:
ram.Display()

Gross Salary 	:	 2350.0

In [1]:
latha=Employee("Latha","Unemployee")

NameError: name 'Employee' is not defined

In [3]:
# Write Python code here 
class sampleclass: 
    count = 0     # class attribute 
  
    def increase(self): 
        sampleclass.count += 1

In [2]:
s1.increase()         
print (s1.count)

NameError: name 's1' is not defined

In [17]:
# Calling increase() on an object 
s1 = sampleclass() 
s1.increase()         
print (s1.count) 
  
# Calling increase on one more 
# object 
s2 = sampleclass() 
s2.increase() 
print (s2.count )
  
print (sampleclass.count )

13
14
14

In [18]:
s1.increase()
s1.count

15

In [19]:
del s1

In [21]:
s1 = sampleclass()

In [22]:
s1.count

15